*{
    font-family: 'Poppins', sans-serif;
}

#canvas {
    width: 2000px;
    height: 3000px;
    /* background-color: #ffbb7e; */
    /* background-color: #f3c795; */
    /* background-color: #e9d9cb; */
    /* background-color: #f3d1b4;
    background-color: #fff; */
    background-color: rgb(240, 234, 222);
    z-index: 1;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    z-index: 2;
    position: fixed;
    padding: 0 20px;
}

#instruction-overlay {
    width: auto;
    height: 550px;
    z-index: 3;
    position: absolute;
    background-color: #fff;
    padding: 60px;
}

#instruction-content {
    /* margin: 20px auto; */
    width: auto;
    align-content: center;
    text-align: left;
}

#instruction-content .menu-title {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}

#instruction-content p {
    margin-bottom: 4px;
}

.lock-scroll {
    background-color: red;
}

#instruction-content p {
    font-size: 15px;
    line-height: 20px;
}

#instruction-content .menu-h3 {
    font-weight: 600;
}

.menu-img {
    margin-right: 20px;
    width: 72px;
    height: 72px;
    display: inline-block;
    background-color: rgb(233, 212, 212);
}

.menu-text {
    display: inline-block;
    width: 240px;
    vertical-align: top;
    /* padding-top: 8px; */
}

button {
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid black;
}

#instruction-content .menu-item {
    margin-bottom: 20px;
}

#instruction-content .menu-item:last-of-type {
    margin-bottom: 40px;
}